body {
  display: flex;
  background-color: bisque;
  color: blue;
  font-family: 'Gill Sans', sans-serif;
  
}

#logoBar {
  width: 30vw;
  height: 100vh;
}

#siteLogo {
  width: 100%;
}

#staffGallery {
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.card {
  margin: 40px 70px;

  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}


.galleryImage {
  max-width: 100%; /* Ensure images don't exceed their container width */
  height: auto; /* Maintain aspect ratio */
  max-height: 300px; /* Limit the maximum height of each image */
  transition: 0.3s;
  flex: 1 1 auto; /* Make each image a flex item with equal flex properties */
  margin: 10px; /* Add some margin between each image */
  
}

.namedesc {
  padding: 2px 16px;
  background-color: thistle;
}

/* .container {
  padding: 2px 16px;
  background-color: thistle;
} */


@media screen and (max-width: 600px) {
  body {
    flex-direction: column; 
  }
  
  #logoBar {
    width: 100%; 
    height: auto;
  }
  
  #staffGallery {
    width: 100%;
  }
}